# Most of the variables here are mandatory in order to run the app.
# For the ones that contain a value, it's just an example, but feel free
# to explore the possibilities.
#
# kie.ai API for which you can get an API key from https://kie.ai/dashboard
# To read more about the API, see the documentation at https://docs.kie.ai/

########################################################
# KIE.AI SETTINGS
########################################################
KIE_API_KEY=<your_kie_api_key>
KIE_MODEL=nano-banana-pro   

# Can be 1:1, 2:3, 3:2, 3:4, 4:3, 4:5, 5:4, 9:16, 16:9, 21:9, auto
KIE_ASPECT_RATIO=auto     

# Can be 1K, 2K or 4K
KIE_RESOLUTION=2K     

# Can be png or jpg
KIE_OUTPUT_FORMAT=png              

# Time in seconds to wait between polling the API for the status of the job
KIE_POLL_INTERVAL_S=2                

# Maximum number of polls to make before giving up
KIE_MAX_POLLS=60                    

# Can be used to customize the status URL template
KIE_STATUS_URL_TEMPLATE=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={task_id}  

# Callback URL
KIE_CALLBACK_URL=http://localhost:8000/api/callback/

########################################################
# DJANGO SETTINGS
########################################################

 # Generate a random secret key using :
 # uv tool install clinkey-cli
 # export DJANGO_SECRET_KEY=$(clinkey -l 128 -t super_strong -s -)
DJANGO_SECRET_KEY="<your_django_secret_key>"   

# Set to False in production  
DEBUG=True                      

# Set to your domain in production         
ALLOWED_HOSTS="localhost,127.0.0.1"             

########################################################
# AWS S3 SETTINGS
########################################################
# All these values can be found in your AWS console, under the S3 services.
# Check the AWS documentation for more information: https://docs.aws.amazon.com/AmazonS3/latest
# Enable S3 as Django media storage (recommended for Kie.ai)
USE_S3_STORAGE=1                                
AWS_ACCESS_KEY_ID=<your_aws_access_key_id>
AWS_SECRET_ACCESS_KEY=<your_aws_secret_access_key>
AWS_STORAGE_BUCKET_NAME=<your_aws_storage_bucket_name>
AWS_S3_REGION_NAME=<your_aws_s3_region_name>
AWS_QUERYSTRING_AUTH=<your_aws_querystring_auth>
AWS_S3_ENDPOINT_URL=<your_s3_endpoint_url>